.flex-box {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.flex-box-item {
  padding: 20px 20px;
  width: 32%;
  align-items: flex-start;
}

.select_textarea {
  text-align: start;
}

.signup_button_box {
  padding: 30px;
}

.signup_button_box Button {
  display: inline-block;
  margin: 5px;
}

.cross {
  padding: 3px;
  position: fixed;
  top: 4px;
  right: 4px;
  color: red;
  cursor: pointer;
  transition: all 0.2s;
}

.cross:hover {
  font-size: large;
}
.cross:active {
  color: blue;
}
