.product_cards {
  padding: 2%;
  background-color: pink;
}
.top_product_heading {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  color: rgb(55, 20, 20);
}
.products_body {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 2rem;
}
.card_body {
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  text-align: start;
}

.card_image {
  display: flex;
  justify-content: center;
}
.card_image img {
  max-width: 100%;
  height: 300px;
  transition: 0.3s;
  cursor: pointer;
}

.card_image img:hover {
  transform: scale(1.04);
}

.card_discription,
.card_price {
  padding: 5px;
  font-size: 14px;
}

.card_price p {
  padding: 5px;
  font-size: 16px;
  display: inline-block;
}

.card_price .off_price {
  text-decoration: rgb(169, 169, 169) line-through 1.4px;
}

.discription_parent {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.rating_parent span {
  display: block;
  padding: 0px;
  margin: 0px;
}
