:root {
  --rootBackgroundColor: pink;
  --rootFontColor: #000000;
}

.parent {
  display: flex;
  justify-content: space-around;
}

.child-btn {
  font-weight: 600;
  font-size: 1em;
  margin: 0px 15px;
}
.MuiToolbar-root {
  background-color: var(--rootBackgroundColor);
  color: var(--rootFontColor);
}

.singup_button:hover ~ .child-btn {
  background-color: red;
}
